/*FONTS*/
@font-face {
  font-family: 'Open Sans';
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*HEADER*/

.header {
  background-image: url(img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  padding: 30px 0px 135px 0;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url(img/banner-bg-tablet.jpg);
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(img/banner-mobile.jpg);
  }
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-wrap {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header-wrap {
    max-width: 768px;
  }
}

@media (max-width: 639px) {
  .header-wrap {
    width: 100%;
    padding: 0;
  }
}

/*MENU+LOGO*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .menu {
    max-width: 768px;
  }
}


.header-logo {
  width: 179px;
}



 /* burger */
@media (min-width: 1200px) {
  .burger_menu, .burger_menu_btn {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header-menu {
    display: none;
  }

  #burger:checked + .burger_menu_btn + .header-menu {
    display: flex;
  }

  .burger_menu {
    display: none;
    
  }

  .burger_menu_btn {
    color: #ffffff;
    font-size: 35px;
    
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  
  .header-menu {
    display: none;
  }
}

/* burger */
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-list-item:not(:first-child) {
  margin-left: 30px;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.menu-link:hover {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
}

.header-title {
  justify-content: center;
  display: flex;
  margin: auto; 
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; 
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  max-width: 700px; 
  margin-top: 60px;
}

.burger_menu_btn {
  cursor: pointer;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header-title {
    font-size: 40px;
    line-height: 55px;
    max-width: 615px;
  }
}

@media (max-width: 639px) {
  .menu {
    align-items: center;
    flex-direction: column-reverse;
  }

  .logo {
    margin-right: 40px;
  }

  .header-logo {
    width: 260px;
 }

  .burger_box {
    margin-bottom: 50px;
    margin-left: 280px;
  }
  
  .header-title {
     max-width: 280px;
     font-size: 26px;
     line-height: 36px;
  
    }
  
}


/*Trands new */
.trands_slide {
  margin-top: 60px;
}

.title_trands {
  display: flex;
  justify-content: center;
  margin: auto;
}

.container_trands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box_trands {
  box-sizing: border-box;
  position: relative;
  width: 24.8%;
  background-color: green;
  min-height: 320px;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .box_trands {   
    width: 49.8%;
  }
}

@media (max-width: 640px) {
  .box_trands {
    width: 100%;
  }
  .box_trands:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .box_trands  {
    width: 49.8%;
  }
}

.box_trands::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.box_trands_interior {
  background-image: url(img/trend1.jpg);
}

.trands_wrap {
  flex-grow: 1;
  border: 3px solid #b59f5b;
  padding: 25px 10px;
}

.trands_list {
  display: flex;
  list-style: none;
}

.trands_list_item:not(:first-child) {
  margin-left: 20px;
}

.trands_link {
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.trands_link:hover {
  text-decoration: underline;
}

.name_trands_link {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.name_trands_link:hover {
  color: #b59f5b;
}

.box_trands_food {
  background-image: url(img/trend2.jpg);
}

.box_trands_travel {
  background-image: url(img/trend3.jpg);
}

.box_trands_health {
  background-image: url(img/trend4.jpg);
}

@media (min-width: 641px) and (max-width: 1199px) {
  .box_trands_interior {
    margin-bottom: 3px;
  }
  
  .box_trands_food {
    margin-bottom: 3px;
  }
}

@media (max-width: 640px) {
  .trands_slide {
    margin-top: 30px;
  }
} 

/*MAIN*/

.container-full {
  margin: 60px 0;
}

.container-menu {
  max-width: 1170px;
  padding: 0 13px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.news  {
  display: flex;
  max-width: 778px;
  text-align: center;
  justify-content: space-between;
  align-items: stretch;
}

.news:not(:last-child) {
  margin-bottom: 60px;
}

.news-img {
  max-width: 381px;
  background-color: #eff6f1;
  margin-right: 30px;

}

.container-news {
  flex-direction: column;
  text-align: left;
}

.news-tag {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-decoration: none;
}

.news-items-tag {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.news-list-items:not(:first-child) {
  margin-left: 15px;
}

.news-tag:hover {
  text-decoration: underline;
}

.news-header {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
  line-height: 24px;
  text-decoration: none;
}

.news-meta {
  display: flex;
}

.news-header:hover {
  color: #b59f5b;
}

.news-date {
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-weight: 400;
  font-size: 12px;
}

.author {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  margin-left: 15px;
}

.news-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #0f0d0e;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .container-menu {
  max-width: 710px;
  }
  .news {
    max-width: 390px;
    display: block;
  }
}

@media (max-width: 640px) {
  .container-menu {
    width: 100%;
    display: block;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .news {
    width: 100%;
    display: block;
  }

  .news-img {
    width: 100%;
    margin-bottom: 15px;

    margin-right: 0;
  }

  .container-news {
    margin-left: 10px;
  }
}
/* POPUP */
.popup_bg {
  margin: auto;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
}



.popup {
  position: fixed;
  left: 40%;
  top: 20%;
  padding-top: 30px;
  max-width: 390px;
  background-color: #ffffff;
}

.closed_btn {
  position: absolute;
  right: 0;
  top: -25px;
  width: 20px;
  height: 20px;
  background-image: url(svg/form-x.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border: none;
} 

.popup_form {
  padding: 0 30px 50px 30px;
}

.text_popup {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}


.select {
  position: relative;
  width: 100%;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #f4f7f6;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(svg/form-arrows.svg);
  background-repeat: no-repeat;
	background-position: right 5px center;
  background-size: 10px;
}

.select:focus {
  border: 1px solid #b59f5b;
}

.popup_radio {
  margin-top: 30px;
}

.box_radio {
  display: flex;
}

.popup_feedback {
  margin-top: 30px;
}

.radio-group-text::before {
	content: "";
	display: inline-block;
	
	width: 20px;
	height: 20px;

	background-image: url(svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-position: center  center;
	background-size: 20px;
}

.radio-group-text::before {
  display: inline-block;
  vertical-align: middle;
}     

.radio-group-text::before {
  margin-right: 4px;
}

.radio-group {
  display: inline-block;
  font-size: 15px;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}
.radio:checked ~ .radio-group-text::before {
	background-image: url(svg/form-circle.svg);
}

.radio {
	display: none;
}

.text_form {
  width: 100%;
  padding: 20px 0 0 20px;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  font-weight: 400;
  background-color: #f4f7f6;
  border: none;
}

.text_form:focus {
  border: 1px solid #b59f5b;
}

.box_button_popup {
  margin-top: 20px;
}

.popup_button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: #b59f5b;
}

.popup_button:hover {
  background-color: #323232;
  transition: .6s;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .popup {
    left: 26%;
  }
}

@media (max-width: 640px) {
  .popup {
    max-width: 350px;
    top: 60px;
    left: 15px;
  }

  .select {
    width: 280px;
  }

  .text_form {
    width: 280px;
  }

  .popup_button {
    width: 280px;
  }
}

/*ASIDE*/
/*new-post*/

.aside {
  width: 270px;
}

.aside-item-new {
  justify-content: space-between;
}

.new-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;

}

.new-post-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.new-post-title::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  opacity: 0.400;
  background-color: #b59f5b;
}

.new-post-img {
  width: 70px;
  margin-right: 20px;
  background-color: #f4f7f6;

}

.new-post-date {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #000000;
  font-weight: 400;
  opacity: 0.541;
}

.new-news-name {
  margin: 0;
  padding: 0;
}

.new-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.new-link:hover {
  color: #b59f5b;
}

/*search-button*/

.search {
  margin-top: 60px;
  display: flex;
}

.search-field {
  width: 202px;
  height: 48px;
  opacity: 0.541;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  background-color: #f4f7f6;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}

.search-field:focus {
  background-color: #f4f7f6;
  border: 1px solid  #b59f5b;
}

.search-button {
  width: 48px;
  border: none;
  background-image: url(svg/search.svg);
  background-repeat: no-repeat;
  background-color: #b59f5b;
  background-size: 16px;
  background-position: center center;
  cursor: pointer;
}

.search-button:hover {
  background-color: #323232;
}

/*mailing-subscribe*/

.aside-distribution {
  text-align: center;
  margin-top: 55px;
}

.mailing {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 29px;
}

.mailing::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  opacity: 0.400;
  background-color: #b59f5b;
}

.mailing-form {
  margin-top: 18px;
}

.mailing-group {
  background-color: #0f0d0e;
  opacity: 0.541;
}

.field-mail {
  width: 258px;
  height: 48px;
  background-color: #f4f7f6;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  border: none;
  padding-left: 10px;
}

.field-mail:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscribe-button {
  margin-top: 15px;
  width: 270px;
  height: 48px;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 40px;
  border: none;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #323232;
}

/* search-hint */

.search-hint {
  color: transparent;
  text-decoration: none;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/*tags*/

.tags {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 29px;
  margin-bottom: 20px;
  margin-top: 55px;
}

.tags::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  opacity: 0.400;
  background-color: #b59f5b;
}

.tags-item {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-tags-tiem {
  margin-right: 4px;
  margin-bottom: 4px;
}

.tags-link {
  display: block;
  text-decoration: none;
  align-items: center;
  align-content: space-between;
  font-size: 12px;
  font-weight: 700;
  color: #0f0d0e;
  text-transform: uppercase;
  border: 3px solid #eeeeee;
  padding: 5px 10px;
  background-color: rgba(244, 243, 241, 0);
}

.tags-link:hover {
  border: 3px solid #b59f5b;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .new-post-title {
  font-size: 14px;
  font-weight: 700;
  }
}

@media (max-width: 640px) {

  .aside {
    width: 100%;
  }

  .new-post-title {
    font-size: 16px;
  }

  .aside-item  {
      margin-left: 10px;
  }

  .new-mob-post {
    margin-top: 55px;
  }
}

/*topic*/

.topic {
  margin-top: 55px;
  text-align: center;
}

.topic-header {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 29px;
}

.topic-header::after {
  content: '';
  display: block;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 66px;
  height: 3px;
  opacity: 0.400;
  background-color: #b59f5b;
}

.list-topic {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.topic-list-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.topic-list-item:first-child {
  margin-top: 20px;
}

.topic-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.topic-link {
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
}

.topic-link:hover {
  color: #b59f5b;
}

.topic-list-nuber {
  display: inline-block;
  vertical-align: super;
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
}

@media (max-width: 640px) {
  .aside {
    width: 100%;
  }

  .search {
    justify-content: center;
  }

  .search-field {
    width: 270px;
  }

  .search-button {
    padding-right: 20px;
    padding-left: 20px;
  }

  .mailing {
    font-size: 16px;
  }

  .field-mail {
    width: 318px;
  }
  .subscribe-button {
    width: 330px;
  }

  .tags {
    font-size: 16px;
  }

  .topic-header {
    font-size: 16px;
  }
}


/* NEW SHOP */

.shop {
  margin-top: 60px;
  max-width: 1170px;
  margin: auto;
}

.title_shop {
  display: flex;
  margin: auto;
  justify-content: center;
}

.container_shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header_shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28.8%;
}

.img_shop {
  position: relative;
  z-index: -1;
}

.shop_border_box {
  border: 3px solid #b59f5b;
  padding: 50px 25px 25px 15px;
  margin-top: -35px;
  z-index: 2;
  flex-grow: 1;
}

.wrap_shop {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.wrap_shop_text {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.shop_text_link {
  font-size: 15px;
  line-height: 22px;
  color: #b59f5b;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.shop_text_link:hover {
  text-decoration: underline;
}

.box_shop_price {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.shop_price_text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

  padding: 0;
  margin: 0;
}

.shop_best_price {
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;

  padding: 0;
  margin: 0;
}

.button_shop {
  width: 140px;
  height: 48px;
  background: #b59f5b;
  border: none;

  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.button_shop:hover {
  background: #323232;
  transition: .6s;
}

@media (min-width: 1199px) {
  .shop_border_box {
    padding-right: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .shop {
    max-width: 710px;
  }
  .header_shop {
    width: 49%;
  }

  .header_shop:not(:last-child) {
    margin-bottom: 15px;
  }

  .img_shop {
    margin-left: 25px;
  }

  .wrap_shop {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-width: 640px) {
  .shop {
    width: 100%;
  }

  .header_shop  {
    width: 99%;
  }

  .header_shop:not(:last-child) {
    margin-bottom: 10px;
  }

  .img_shop {
    margin-left: 25px;
  }

  .shop_border_box {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*FOOTER*/

.footer {
  margin: 60px 0;
}

.footer-wrapper{
  width: 1170px;
	margin: auto;
	padding: 0 15px;
}

.footer-address {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f7f6;
}

.social-list {
  padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  list-style: none;
}

.footer-list-item {
  margin-left: 20px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  text-decoration: none;
}


.copyright {
  margin-top: 50px; 
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}

.social-dribbble {
  background-image: url(svg/001-dribbble.svg);
}

.social-printerest {
  background-image: url(svg/001-pinterest.svg);
}

.social-tumblr {
  background-image: url(svg/003-tumblr.svg);
}

@media (min-width: 641px) and (max-width: 1199px) {
  .footer-wrapper {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .footer-wrapper {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer-wrapper {
    padding: 0;
  }
}
